---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav';
import Dashboard from '../components/Dashboard';
---
<Layout title="Inicio">
  <Nav currentPath="/" client:load />
  <div class="page-container">
    <Dashboard client:load />
  </div>
</Layout>
